In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

mycursor = retails.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()

mycursor.execute("CREATE TABLE customers (customer VARCHAR(255), orders VARCHAR(255))")

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()

sql = "INSERT INTO customers (customer) VALUES (rank, age, location,gender)"
val = [
  (1001, 34, 'Austin', 'male'),
  (1002, 37, 'Houston', 'male'),
  (1003, 25, 'Austin', 'female'),
  (1004, 28, 'Houston', 'female'),
  (1005, 22, 'Dallas', 'male')
]

mycursor.executemany(sql, val)

retails.commit()

print(mycursor.rowcount, "was inserted.")

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()


mycursor.execute("SELECT customers, customer FROM Austin")

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()


mycursor.execute("SELECT customer FROM customers GROUP BY location")

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()


mycursor.execute("SELECT customer FROM customers GROUP BY gender")

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()

sql_1= "INSERT INTO orders (order) VALUES (date,order_amount,integer)"
val_1 = [
  ('2022-10-1', 100.25, 1),
  ('2022-10-2',200.75, 2),
  ('2022-10-3',500.00,3),
  ('2022-10-3', 600.00,4),
  ('2022-10-4', 600.00,5)
]

mycursor.executemany(sql_1, val_1)

retails.commit()

print(mycursor.rowcount, "was inserted.")

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()


mycursor.execute("SELECT orders FROM retails SHOW date WHERE date = '2022-10-3'")

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()


mycursor.execute("SELECT orders FROM retails SHOW date WHERE date = order_amount>=300")

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()


mycursor.execute("SELECT orders FROM retails WHERE date = '2022-10-3' ORDER BY order_amount")

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()

In [ ]:
#Module 11 
import mysql.connector

retails = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = retails.cursor()
mycursor.execute("SELECT orders, AVG(order_amount) 'Average Order Amount'FROM retails GROUP BY orders;")